@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0px 0px 0px;
}
.about h1{
    margin: 0px;
    font-size: 54px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
.about p{
    line-height: 1.5;
    font-weight: 300;
    padding: 0px 170px;
    text-align: center;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #4A5056;
}
.about b{
    font-size: 20px;
    letter-spacing: -0.3px;
    color: #4A5056;
    font-family: 'Inter', sans-serif;
}