.blog{
    margin: 100px 30px;
}
.blog-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-text p, .blog-text h1{
    text-align: center;
    margin: 0px;
}
.blog-text p{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.3px;
    color: #21282E;
}
.blog-text h1{
    font-size: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    color: #21282E;
    margin-bottom: 20px;
}
.blog-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    /* background: #000; */
    height: 600px;
}
.blog-card img{
    width: 100%;
    height: 250px;
    padding: 5px 0px;
}
.blog-card h1{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
   transition: all 0.1s ease-in-out 0s;
   font-size: 24px;
   letter-spacing: normal;
   line-height: 1.2;
}
.blog-card p{
    color: #717275;
    font-size: 20px;
    font-weight: 300;
    font-family: "Inter";
    font-style: normal;
    letter-spacing: -0.3px;
    text-align: left;
}
.blog-cards{
    display: flex;
    gap: 50px;
    padding: 0px 0px;
}
@media screen and (max-width: 1100px){
    .blog-card{
        width: 100%;
    }
    .blog-cards{
        flex-direction: column;
    }
}