  .instructor-img {
    position: relative;
  }
  
  .instructor-img img {
    max-width: 1495px;
    max-height: 650px;
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
    position: relative;
    left: -2%;
  }
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .instructor-img img {
    animation: float 5s ease-in-out infinite;
  }
