@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.left{
    padding: 0px 40px;
    width: 40vw;
}
.left h1{
    font-size: 54px;
    letter-spacing: -0.05em;
    font-family: 'Inter', sans-serif;
    margin: 0px;
}
.home{
    display: flex;
justify-content: space-between;
    /* padding: 0px 20px; */
}

.right img{
    height: 100vh;
    width: 40vw;
}

.animation p{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    letter-spacing: -0.05em;
    font-weight: bold;
    color: #43a724;
}
.desc{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #4A5056;
    line-height: 1.5;
    /* margin-top: 20px; */
}
.imgs{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.bottom{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
}
.button{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    margin: 0px;
}
.button button{
    padding: 15px 55px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease-in-out 0s;
}
.jportal, .lms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.jportal button{
    border: 2px solid #43a724e2;
    color: #43a724;
    font-weight: bold;
}
.jportal button:hover{
    
    border : 2px solid #43a724c5;
    color: #43a724c5;
}
.lms button{
    background: linear-gradient(86.52deg, #84f661 4.14%, #3dd442 98.51%);
    color: white;
    font-weight:bold;

}
.lms button:hover{
    background: linear-gradient(86.52deg, #84f661de 4.14%, #3dd442d9 98.51%);
}
.des{
    font-size: 13px;
    margin: 0px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

@media screen and (max-width: 1030px) {
    .home{
        flex-direction: column;
        width: 90vw;
        margin: auto;
    }
    .left{
        width: 90vw;
        justify-content: center;
        padding: 0px 20px;
    }

    .right img{
        margin-top: 20px;
        width: 100vw;
        height: 50%;
    }
    .animation p{
        font-size: 40px;
    }
    .desc{
        font-size: 15px;
    }
    
    .button button{
        padding: 10px 40px;
    }
    .jportal button{
        padding: 10px 40px;
    }
    .lms button{
        padding: 10px 40px;
    }
    .des{
        font-size: 10px;
    }
    .imgs img{
        width: 30vw;
    }
}