@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.navbar{
    padding: 20px 40px;
    display : flex;
    justify-content: space-between;
    align-items: self-end;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 66vw;
}

.menu ul{
    display: flex;
    width: 36vw;
    list-style: none;
    justify-content: space-between;
}
.menu ul li a{
    text-decoration: none;
    color : black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    transition: all 0.3s ease-in-out 0s;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 25vw;
}
.buttons button{
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    border: 2px solid #43a724;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}
.portal{
    background-color: #43a724;
    color: white;
}
.login{
    background-color: white;
    color: #43a724;
}
.menu ul li a:hover{
    color: #6c757d;
}

.portal:hover{
    border:2px solid #43a724cc;
    background-color: #43a724cc;
}
.login:hover{
    border:2px solid #43a724cc;
    color: #43a724cc;
}